
<%- include('../partials/header') %>

<div class="container">
  <h1>Welcome, <%= user.firstName %> <%= user.lastName %></h1>
  <p>This is the admin dashboard.</p>
</div>

<%- include('../partials/footer') %>
