
.interactive-card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.interactive-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

body {
  background-color: #eceff1;
}
