
<div class="bg-light border-end" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">LMS</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/dashboard">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Subjects</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Users</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Progress</a>
    </div>
</div>
